<!DOCTYPE html>
{%load static%}
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
   <!--------- <title>Responsive Navigation Menu</title>------>
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static 'css/api/api.css' %}">
  </head>
  <body>
    <nav>
      <div class="logo"><p>DesabaMenos</p></div>
      <input type="checkbox" id="click">  
      <label for="click" class="menu-btn">
        <i class="fas fa-bars"></i>
      </label>
      <ul>
        <li><a href="{% url 'post' %}">Posts</a></li>
        <li><a id="home" class="#" href="{% url 'maps' %}">Maps</a></li>
        <li><a id="blog" class="#" href="{% url 'profile' %}">Profile</a></li>
        <li><a id="profile" href="{% url 'graficos' %}">Graficos</a></li>
        <li><a id="maps" href="{% url 'api' %}">Api</a></li>
        <li><a id="about" class='active'href="{% url 'account' %}">Sign In | Sign Up</a></li>
      </ul>
    </nav>
    
    <div class="content">
      
<div class="overflow-x-auto relative shadow-md ">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
              <th scope="col" class="py-3 px-6">
                  ID
              </th>
              <th scope="col" class="py-3 px-6">
                  Cidade
              </th>
              <th scope="col" class="py-3 px-6">
                  Latitude
              </th>
              <th scope="col" class="py-3 px-6">
                  Longitude
              </th>
              <th scope="col" class="py-3 px-6">
                  Action
              </th>
          </tr>
      </thead>
      <tbody>
        {%for location in locations%}
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
              <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                  {{location.id}}
              </th>
              <td class="py-4 px-6">
                  {{location.city}}
              </td>
              <td class="py-4 px-6">
                  {{location.lat}}
              </td>
              <td class="py-4 px-6">
                  {{location.long}}
              </td>
              <td class="py-4 px-6">
                  <a href="{% url 'edit_location' location.id %}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline" >Edit</a>
                  <a href="{% url 'location_delete' location.id %}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline" onclick="return confirm('Tem certeza que deseja deletar esta localização?')" >Delete</a>
               </td>
          </tr>
        {%endfor%}          
      </tbody>
  </table>
  <div class="pagination">
    <span class="step-links">
        {% if locations.has_previous %}
            <a href="?page={{ locations.previous_page_number }}" class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">anterior</a>
        {% endif %}

        <span class="current">
            Página {{ locations.number }} de {{ locations.paginator.num_pages }}
        </span>

        {% if locations.has_next %}
            <a href="?page={{ locations.next_page_number }}" class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">próxima</a>
        {% endif %}
    </span>
</div>
</div>

    </div>

  </body>
</html>