<!DOCTYPE html>
{%load static%}
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
   <!--------- <title>Responsive Navigation Menu</title>------>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <nav>
      <div class="logo">DesabaMenos</div>
      <input type="checkbox" id="click">
      <label for="click" class="menu-btn">
        <i class="fas fa-bars"></i>
      </label>
      <ul>
        <li><a href="#">Posts</a></li>
        <li><a id="home" class="#" href="{% url 'maps' %}">Maps</a></li>
        <li><a id="blog" class="#" href="{% url 'profile' %}">Profile</a></li>
        <li><a id="profile" href="{% url 'graficos' %}">Graficos</a></li>
        <li><a id="maps" href="{% url 'api' %}">Api</a></li>
        <li><a id="about" class='active'href="{% url 'account' %}">Sign In | Sign Up</a></li>
      </ul>
    </nav>
    
    <div class="content">
      <!--Area onde o primeiro grafico é desenhado -->
      <p>Municípios com ocorrência de escorregamentos ou deslizamentos de encostas nos últimos 4 anos por áreas de ocorrência, por medidas adotadas para evitar ou minimizar danos e por classe de tamanho da população do município</p>
      <div class="graficos">
        <canvas id="grafico1"></canvas>
      </div>
      <!--Fim -->
      <hr>
      <!--Area onde o primeiro grafico é desenhado -->
      <p>Número de municípios, total e os que possuem encostas no perímetro urbano, por tipo de situação das encostas</p>
      <div class="graficos">
        <canvas id="grafico2"></canvas>
      </div>
      <!--Fim -->
      <hr>
      <!--Area onde o primeiro grafico é desenhado -->
      <p>Municípios, total e atingidos por enchentes ou inundações graduais, enchurradas ou inundações bruscas ou escorregamentos ou deslizamenrtos de encostas nos últimos 4 anos, por algumas características dos desastres naturais e por classe de tamanho da população do município</p>
      <div class="graficos">
        <canvas id="grafico3"></canvas>
      </div>
      <!--Fim -->



<!--Aqui é onde configuramos o grafico -->


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<!--Desenho do grafico 1 -->
    </div>

    <script>
      const ctx1 = document.getElementById('grafico1');
    
      new Chart(ctx1, {
        type: 'bar',
        data: {
          labels: ['Rondônia', 'Acre', 'Amazonas', 'Pará', 'Amapá', 'Tocatins', 'Maranhão', 'Piauí', 'Ceará', 'Rio Grande do Norte', 'Paraíba', 'Pernambuco', 'Alagoas', 'Sergipe', 'Bahia', 'Minas Gerais', 'Espirito Santo', 'Rio De Janeiro', 'São Paulo', 'Paraná', 'Santa Catarina', 'Rio Grande do Sul', 'Mato Grosso do Sul', 'Mato Grosso', 'Goias'],
          datasets: [{
            label: 'Estados',
            data: [8, 6, 25, 29, 1, 35, 57, 3, 15, 4, 8, 45, 29, 9, 56, 262, 46, 68, 106, 27, 94, 67, 7, 14, 19],
            borderWidth: 1
          }]
        },
        options: {
          
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
      });

      const ctx2 = document.getElementById('grafico2');
    
      new Chart(ctx2, {
        type: 'bar',
        data: {
          labels: ['Rondônia', 'Acre', 'Amazonas', 'Roraima', 'Pará', 'Amapá', 'Tocatins', 'Maranhão', 'Piauí', 'Ceará', 'Rio Grande do Norte', 'Paraiba', 'Pernambuco', 'Alagoas', 'Sergipe', 'Bahia', 'Minas Gerais', 'Espirito Santo', 'Rio de Janeiro', 'São Paulo', 'Paraná', 'Santa Catarina', 'Rio Grande do Sul', 'Mato Grosso do Sul', 'Mato Grosso', 'Goias', 'Distrito Federal'],
          datasets: [{
            label: 'Estados',
            data: [52, 22, 62, 15, 143, 16, 139, 217, 221, 184, 166, 223, 185, 101, 75, 415, 853, 77, 91, 645, 399, 293, 467, 77, 126, 242, 1],
            borderWidth: 1
          }]
        },
        options: {
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
      });

      const ctx3 = document.getElementById('grafico3');
    
      new Chart(ctx3, {
        type: 'bar',
        data: {
          labels: ['Rondônia', 'Acre', 'Amazonas', 'Roraima', 'Pará', 'Amapá', 'Tocatins', 'Maranhão', 'Piauí', 'Ceará', 'Rio Grande do Norte', 'Paraiba', 'Pernambuco', 'Alagoas', 'Sergipe', 'Bahia', 'Minas Gerais', 'Espirito Santo', 'Rio de Janeiro', 'São Paulo', 'Paraná', 'Santa Catarina', 'Rio Grande do Sul', 'Mato Grosso do Sul', 'Mato Grosso', 'Goias', 'Distrito Federal'],
          datasets: [{
            label: 'Estados',
            data: [2, 4, 19, 4, 13, 0, 3, 10, 2, 6, 2, 2, 28, 12, 2, 15, 26, 8, 6, 53, 20, 50, 60, 4, 9, 2, 0],
            borderWidth: 1
          }]
        },
        options: {
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
      });
    </script>

    

  </body>
</html>