<!DOCTYPE html>
{%load static%}
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
   <!--------- <title>Responsive Navigation Menu</title>------>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <nav>
      <div class="logo"><p>DesabaMenos</p></div>
      <input type="checkbox" id="click">
      <label for="click" class="menu-btn">
        <i class="fas fa-bars"></i>
      </label>
      <ul>
        <li><a href="{% url 'post' %}">Posts</a></li>
        <li><a id="home" class="#" href="{% url 'maps' %}">Maps</a></li>
        <li><a id="blog" class="#" href="{% url 'profile' %}">Profile</a></li>
        <li><a id="profile" href="{% url 'graficos' %}">Graficos</a></li>
        <li><a id="maps" href="{% url 'api' %}">Api</a></li>
        <li><a id="about" class='active'href="{% url 'account' %}">Sign In | Sign Up</a></li>
      </ul>
    </nav>
    
    <div class="content">
      <div class="post">
        <p>
          {% for location in locations %}
            {{location.city}}
          {% endfor %}
        </p>
        <hr>
        <p>
          {% for location in locations %}
            {{location.lat}}
          {% endfor %}
        </p>
        <hr>
        <p>
          {% for location in locations %}
            {{location.long}}
          {% endfor %}
        </p>

      </div>
    </div>
    <p id="teste">igarassu recife paulista olinda</p>
    <p id="numeros">12 34 23 27</p>
    <script>
      let text = document.getElementById('teste').innerHTML
      console.log(text.split(' '))
      
      let numeros = document.getElementById('numeros').innerHTML
      console.log(numeros)

      numeros.split(' ')
      console.log(numeros)
      
      for(var i = 0; i<numeros.length; i++){
        parseInt(numeros[i])
        console.log(numeros[i])
      }

    </script>

  </body>
</html>