<!DOCTYPE html>
{%load static%}
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
   <!--------- <title>Responsive Navigation Menu</title>------>
    <link rel="stylesheet" href="{% static 'css/maps.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>

  </head>
  <body>
    <nav>
      <div class="logo">DesabaMenos</div>
      <input type="checkbox" id="click">
      <label for="click" class="menu-btn">
        <i class="fas fa-bars"></i>
      </label>
      <ul>
        <li><a href="{% url 'post' %}">Posts</a></li>
        <li><a id="home" class="#" href="{% url 'maps' %}">Maps</a></li>
        <li><a id="blog" class="#" href="{% url 'profile' %}">Profile</a></li>
        <li><a id="profile" href="{% url 'graficos' %}">Graficos</a></li>
        <li><a id="maps" href="{% url 'api' %}">Api</a></li>
        <li><a id="about" class='active'href="{% url 'account' %}">Sign In | Sign Up</a></li>
      </ul>
    </nav>
    
    <div class="content">

      <form class="w-full max-w-lg" method="POST" action="{% url 'maps' %}">
        {% csrf_token %}
        {{ m|safe }}  
        <br>
        {{form.as_p}}
        <br>
        <button type="submit" class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">
          Enviar
        </button>
      </form>
    </div>

  </body>
</html>